In [1]:
# Import All Necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import ipywidgets as widgets
import sklearn.linear_model

In [2]:
# Read Data from Files
hls_all_raw = pd.read_csv("HSL_ALL.csv")
weo_raw = pd.read_csv("WEOOct2023all.xls", sep='\t')

In [3]:
# Print Raw Information
print(hls_all_raw)
print('\n')
print(weo_raw)

      LOCATION    Country TYPE_VAR Type of indicator VARIABLE  \
0          AUS  Australia  AVERAGE           Average      1_1
1          AUS  Australia  AVERAGE           Average      1_1
2          AUS  Australia  AVERAGE           Average      1_1
3          AUS  Australia  AVERAGE           Average      1_1
4          AUS  Australia  AVERAGE           Average      1_1
...        ...        ...      ...               ...      ...
17544      DEU    Germany      DEP       Deprivation      2_8
17545      DEU    Germany      DEP       Deprivation      2_8
17546      MEX     Mexico      DEP       Deprivation      4_4
17547      CAN     Canada      DEP       Deprivation      4_4
17548      CAN     Canada      DEP       Deprivation      4_4

                        Indicator   WB Current/Future Well-being  SEX  \
0                Household income  CWB        Current Well-being  TOT
1                Household income  CWB        Current Well-being  TOT
2                Household income  CWB        Current Well-being  TOT
3                Household income  CWB        Current Well-being  TOT
4                Household income  CWB        Current Well-being  TOT
...                           ...  ...                       ...  ...
17544                    Earnings  CWB        Current Well-being  TOT
17545                    Earnings  CWB        Current Well-being  TOT
17546  Satisfaction with time use  CWB        Current Well-being  TOT
17547  Satisfaction with time use  CWB        Current Well-being  TOT
17548  Satisfaction with time use  CWB        Current Well-being  TOT

                    Sex  AGE               Age EDUCATION         Education  \
0      Total population  TOT  Total population       TOT  Total population
1      Total population  TOT  Total population       TOT  Total population
2      Total population  TOT  Total population       TOT  Total population
3      Total population  TOT  Total population       TOT  Total population
4      Total population  TOT  Total population       TOT  Total population
...                 ...  ...               ...       ...               ...
17544  Total population  TOT  Total population       TOT  Total population
17545  Total population  TOT  Total population       TOT  Total population
17546  Total population  TOT  Total population       TOT  Total population
17547  Total population  TOT  Total population       TOT  Total population
17548  Total population  TOT  Total population       TOT  Total population

       TIME  Time         Value Flag Codes Flags
0      2004  2004  28476.000000        NaN   NaN
1      2005  2005  28730.000000        NaN   NaN
2      2006  2006  29777.000000        NaN   NaN
3      2007  2007  30911.000000        NaN   NaN
4      2008  2008  32475.000000        NaN   NaN
...     ...   ...           ...        ...   ...
17544  2019  2019     17.635464        NaN   NaN
17545  2020  2020     16.983873        NaN   NaN
17546  2021  2021      7.703481        NaN   NaN
17547  2021  2021      6.200000        NaN   NaN
17548  2022  2022      6.700000        NaN   NaN

[17549 rows x 19 columns]


      WEO Country Code  ISO WEO Subject Code      Country  \
0                  512  AFG           NGDP_R  Afghanistan
1                  512  AFG        NGDP_RPCH  Afghanistan
2                  512  AFG             NGDP  Afghanistan
3                  512  AFG            NGDPD  Afghanistan
4                  512  AFG           PPPGDP  Afghanistan
...                ...  ...              ...          ...
8619               698  ZWE           GGXWDG     Zimbabwe
8620               698  ZWE      GGXWDG_NGDP     Zimbabwe
8621               698  ZWE          NGDP_FY     Zimbabwe
8622               698  ZWE              BCA     Zimbabwe
8623               698  ZWE        BCA_NGDPD     Zimbabwe

                                     Subject Descriptor  \
0               Gross domestic product, constant prices
1               Gross domestic product, constant prices
2                Gross domestic product, current prices
3                Gross domestic product, current prices
4                Gross domestic product, current prices
...                                                 ...
8619                      General government gross debt
8620                      General government gross debt
8621  Gross domestic product corresponding to fiscal...
8622                            Current account balance
8623                            Current account balance

                                          Subject Notes  \
0     Expressed in billions of national currency uni...
1     Annual percentages of constant price GDP are y...
2     Expressed in billions of national currency uni...
3     Values are based upon GDP in national currency...
4     These data form the basis for the country weig...
...                                                 ...
8619  Gross debt consists of all liabilities that re...
8620  Gross debt consists of all liabilities that re...
8621  Gross domestic product corresponding to fiscal...
8622  Current account is all transactions other than...
8623  Current account is all transactions other than...

                                               Units     Scale  \
0                                  National currency  Billions
1                                     Percent change       NaN
2                                  National currency  Billions
3                                       U.S. dollars  Billions
4     Purchasing power parity; international dollars  Billions
...                                              ...       ...
8619                               National currency  Billions
8620                                  Percent of GDP       NaN
8621                               National currency  Billions
8622                                    U.S. dollars  Billions
8623                                  Percent of GDP       NaN

                          Country/Series-specific Notes    1980  ...     2020  \
0     Source: National Statistics Office Latest actu...     NaN  ...  1288.87
1     See notes for:  Gross domestic product, consta...     NaN  ...   -2.351
2     Source: National Statistics Office Latest actu...     NaN  ...  1547.29
3     See notes for:  Gross domestic product, curren...     NaN  ...   20.136
4     See notes for:  Gross domestic product, curren...     NaN  ...   81.007
...                                                 ...     ...  ...      ...
8619  Source: Ministry of Finance or Treasury Latest...     NaN  ...  1164.36
8620  See notes for:  General government gross debt ...     NaN  ...   84.365
8621  Source: Ministry of Finance or Treasury Latest...     NaN  ...  1380.14
8622  Source: Reserve Bank of Zimbabwe and Ministry ...  -0.301  ...    0.678
8623  See notes for:  Gross domestic product, curren...     NaN  ...    2.521

         2021      2022       2023       2024        2025        2026  \
0      1021.6       NaN        NaN        NaN         NaN         NaN
1     -20.737       NaN        NaN        NaN         NaN         NaN
2     1232.86       NaN        NaN        NaN         NaN         NaN
3      14.941       NaN        NaN        NaN         NaN         NaN
4      67.093       NaN        NaN        NaN         NaN         NaN
...       ...       ...        ...        ...         ...         ...
8619  1905.21  12102.06  106757.86  269963.93   575420.93  1007634.58
8620   59.769    98.449     95.435     56.944      52.201      48.213
8621  3187.63  12292.67  111864.93   474084.1  1102309.64   2089955.6
8622    0.348     0.321       0.28     -0.317      -0.411      -0.466
8623    0.968     1.019      0.863     -0.673      -0.827      -0.922

            2027        2028 Estimates Start After
0            NaN         NaN                2021.0
1            NaN         NaN                2021.0
2            NaN         NaN                2021.0
3            NaN         NaN                2021.0
4            NaN         NaN                2021.0
...          ...         ...                   ...
8619   1513701.5  1763004.39                2021.0
8620      48.416      42.699                2021.0
8621  3126416.82  4128929.25                2021.0
8622      -0.512       -0.55                2022.0
8623      -1.081       -1.12                2022.0

[8624 rows x 59 columns]

In [4]:
# Print and Display Raw Data
print(hls_all_raw["Indicator"])
print("\n===========================================================\n")
hls_slice = pd.DataFrame(hls_all_raw, columns =["Country","Indicator","Type of indicator","Time","Value"])
print(hls_slice)

0                  Household income
1                  Household income
2                  Household income
3                  Household income
4                  Household income
                    ...
17544                      Earnings
17545                      Earnings
17546    Satisfaction with time use
17547    Satisfaction with time use
17548    Satisfaction with time use
Name: Indicator, Length: 17549, dtype: object

===========================================================

         Country                   Indicator Type of indicator  Time  \
0      Australia            Household income           Average  2004
1      Australia            Household income           Average  2005
2      Australia            Household income           Average  2006
3      Australia            Household income           Average  2007
4      Australia            Household income           Average  2008
...          ...                         ...               ...   ...
17544    Germany                    Earnings       Deprivation  2019
17545    Germany                    Earnings       Deprivation  2020
17546     Mexico  Satisfaction with time use       Deprivation  2021
17547     Canada  Satisfaction with time use       Deprivation  2021
17548     Canada  Satisfaction with time use       Deprivation  2022

              Value
0      28476.000000
1      28730.000000
2      29777.000000
3      30911.000000
4      32475.000000
...             ...
17544     17.635464
17545     16.983873
17546      7.703481
17547      6.200000
17548      6.700000

[17549 rows x 5 columns]

In [5]:
# Print Indicator and Country of HSL Data
hls_ls = hls_slice.loc[hls_all_raw["Indicator"] == "Life satisfaction"]
print(hls_ls)
print("\n===========================================================\n")
print("Total records:")
print(len(hls_ls))

print("\n===========================================================\n")
print("Total Unique Countries:")
print(len(hls_ls["Country"].unique()))

print("\n===========================================================\n")
print("Country List")
print(hls_ls["Country"].unique())

         Country          Indicator Type of indicator  Time     Value
180    Australia  Life satisfaction           Average  2014  7.600000
181    Australia  Life satisfaction           Average  2019  7.500000
182    Australia  Life satisfaction           Average  2020  7.200000
489      Austria  Life satisfaction           Average  2013  7.800000
490      Austria  Life satisfaction           Average  2018  8.002416
...          ...                ...               ...   ...       ...
15227     Canada  Life satisfaction       Deprivation  2017  2.800000
15228     Canada  Life satisfaction       Deprivation  2018  2.500000
15229     Canada  Life satisfaction       Deprivation  2019  2.500000
15230     Canada  Life satisfaction       Deprivation  2020  2.800000
15231     Canada  Life satisfaction       Deprivation  2021  2.800000

[224 rows x 5 columns]

===========================================================

Total records:
224

===========================================================

Total Unique Countries:
35

===========================================================

Country List
['Australia' 'Austria' 'Belgium' 'Canada' 'Czechia' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan'
 'Korea' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Spain' 'Sweden' 'Switzerland'
 'Türkiye' 'United Kingdom' 'Colombia' 'Estonia' 'Israel' 'Latvia'
 'Lithuania' 'Slovenia']

In [6]:
# Filter to Year 2015
hls_train = hls_ls.loc[hls_ls["Time"] == 2013]
hls_train = hls_train.loc[hls_ls["Type of indicator"] == "Average"]
print("\n===========================================================\n")
print("Total records:")
print(len(hls_train))

print("\n===========================================================\n")
print("Total Unique Countries:")
print(len(hls_train["Country"].unique()))

print("\n===========================================================\n")
print("Record:")
print(hls_train)

===========================================================

Total records:
29

===========================================================

Total Unique Countries:
29

===========================================================

Record:
               Country          Indicator Type of indicator  Time     Value
489            Austria  Life satisfaction           Average  2013  7.800000
835            Belgium  Life satisfaction           Average  2013  7.600000
1158            Canada  Life satisfaction           Average  2013  8.000000
1484           Czechia  Life satisfaction           Average  2013  6.879920
1822           Denmark  Life satisfaction           Average  2013  8.010768
2165           Finland  Life satisfaction           Average  2013  8.045856
2510            France  Life satisfaction           Average  2013  7.053189
2854           Germany  Life satisfaction           Average  2013  7.254309
3187            Greece  Life satisfaction           Average  2013  6.160032
3539           Hungary  Life satisfaction           Average  2013  6.112792
3849           Iceland  Life satisfaction           Average  2013  7.948925
4147           Ireland  Life satisfaction           Average  2013  7.439511
4495             Italy  Life satisfaction           Average  2013  6.700000
5120             Korea  Life satisfaction           Average  2013  5.700000
5409        Luxembourg  Life satisfaction           Average  2013  7.500000
5991       Netherlands  Life satisfaction           Average  2013  7.802276
6602            Norway  Life satisfaction           Average  2013  7.885605
6939            Poland  Life satisfaction           Average  2013  7.315400
7282          Portugal  Life satisfaction           Average  2013  6.153745
7586   Slovak Republic  Life satisfaction           Average  2013  6.951438
7929             Spain  Life satisfaction           Average  2013  6.880582
8275            Sweden  Life satisfaction           Average  2013  7.907482
8592       Switzerland  Life satisfaction           Average  2013  8.047416
8836           Türkiye  Life satisfaction           Average  2013  5.700000
9169    United Kingdom  Life satisfaction           Average  2013  7.510000
10521          Estonia  Life satisfaction           Average  2013  6.455134
11102           Latvia  Life satisfaction           Average  2013  6.468279
11424        Lithuania  Life satisfaction           Average  2013  6.729421
11894         Slovenia  Life satisfaction           Average  2013  6.963051

In [7]:
# Select Row of Data from WEO Dataset and Select Year (Column) weo_selected_measurement = weo_raw.loc[weo_raw['WEO Subject Code'].str.contains("NGDP_RPCH")]
weo_selected_measurement = weo_raw.loc[weo_raw['WEO Subject Code'].str.contains("LUR")]
weo_selected_measurement_2013 = pd.DataFrame(weo_selected_measurement, columns=['Country', '2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019'])

weo_selected_measurement_2013.describe()

            Country 2009 2010 2011 2012 2013  2014 2015   2016  2017 2018 2019
count           196  110  112  112  112  112   112  112    112   113  112  110
unique          196  107  108  109  110  110   107  110    108   113  108  108
top     Afghanistan  5.9  3.3  7.9  8.1  3.1  10.6    7  9.541  13.7    9  5.2
freq              1    3    2    2    2    2     2    2      2     1    2    2

In [8]:
# Clean Data for Trainning
merged_train_data = pd.merge(hls_train, weo_selected_measurement_2013, on="Country")
merged_train_data = merged_train_data.rename(columns={"Value": "Happiness Measurement", "2013": "Unemployment Measurement"})
merged_train_data = pd.DataFrame(merged_train_data, columns=['Country','Happiness Measurement', 'Unemployment Measurement'])

merged_train_data.describe(include='all')

        Country  Happiness Measurement Unemployment Measurement
count        27              27.000000                       27
unique       27                    NaN                       27
top     Austria                    NaN                     5.35
freq          1                    NaN                        1
mean        NaN               7.199823                      NaN
std         NaN               0.702092                      NaN
min         NaN               5.700000                      NaN
25%         NaN               6.714711                      NaN
50%         NaN               7.315400                      NaN
75%         NaN               7.843941                      NaN
max         NaN               8.047416                      NaN

In [9]:
# Drop NaN
merged_train_data = merged_train_data.dropna(subset=['Unemployment Measurement'])
merged_train_data.describe(include='all')

        Country  Happiness Measurement Unemployment Measurement
count        27              27.000000                       27
unique       27                    NaN                       27
top     Austria                    NaN                     5.35
freq          1                    NaN                        1
mean        NaN               7.199823                      NaN
std         NaN               0.702092                      NaN
min         NaN               5.700000                      NaN
25%         NaN               6.714711                      NaN
50%         NaN               7.315400                      NaN
75%         NaN               7.843941                      NaN
max         NaN               8.047416                      NaN

In [10]:
merged_train_data['Unemployment Measurement'] = merged_train_data['Unemployment Measurement'].astype(float)
merged_train_data = merged_train_data.dropna()
merged_train_data = merged_train_data.drop_duplicates()
merged_train_data.describe(include='all')

        Country  Happiness Measurement  Unemployment Measurement
count        27              27.000000                 27.000000
unique       27                    NaN                       NaN
top     Austria                    NaN                       NaN
freq          1                    NaN                       NaN
mean        NaN               7.199823                 10.079778
std         NaN               0.702092                  5.884017
min         NaN               5.700000                  3.100000
25%         NaN               6.714711                  7.002500
50%         NaN               7.315400                  8.550000
75%         NaN               7.843941                 11.819000
max         NaN               8.047416                 27.475000

In [11]:
# Drop the Outliers
iqr = 11.819000 - 7.002500
upper_fence = 11.819000 + 1.5 * iqr
lower_fence = 7.002500 - 1.5 * iqr

In [12]:
outliers = np.where((merged_train_data['Unemployment Measurement'] > upper_fence) | (merged_train_data['Unemployment Measurement'] < lower_fence))

In [13]:
merged_train_data = merged_train_data.drop(outliers[0])

In [14]:
# Train the Data and Create the Model
X = np.c_[merged_train_data["Unemployment Measurement"]]
Y = np.c_[merged_train_data["Happiness Measurement"]]
x = X.tolist()
y = Y.tolist()

# plot data
out1 = widgets.Output()
with out1:
  plt.scatter(x, y)
  plt.xlabel('Unemployment')
  plt.ylabel('Happiness')
  plt.title("Data Plot: 2013")
  plt.show()

# fit linear model
model = sklearn.linear_model.LinearRegression()
model.fit(X, Y)

# plot predictions
predict_x = [x for x in range(901)]
predict_x = [[x/100] for x in predict_x]
predict_y = model.predict(predict_x)

out2 = widgets.Output()
with out2:
  plt.scatter(predict_x, predict_y)
  plt.scatter(x, y)
  plt.xlabel('Unemployment')
  plt.ylabel('Happiness')
  plt.title("Prediction Line: 2013 -")
  plt.show()

display(widgets.HBox([out1,out2]))

HBox(children=(Output(), Output()))